body {
  background-image: url("images/ocean.png");
  margin-left: 5%;
  margin-right: 5%;
  border: 5px solid pink;
  border-style: inset;
}

#header {
  border-style: outset;
  text-align: center;
}

#header ul {
  list-style-type: none;
  font-size: 3em;
  text-align: center;
}

#header ul li a {
  color: orange;
  text-shadow: 1.5em 1.5em 1.5em rgba(0, 0, 0, 0.25);
}

#header ul li a:hover{
  color: yellow;
  text-shadow: 1.5em 1.5em 1.5em rgba(127, 127, 0, 0.25);
}

p, h2, h3, strong, ul, li {
  color: blue;
  text-shadow: 1.5em 1.5em 1.5em rgba(0, 0, 0, 0.25);
}

h1 {
  font-family: "Audiowide", cursive, sans-serif;
  color: blue;
  text-align: center;
  text-shadow: 1.5em 1.5em 1.5em rgba(0, 0, 0, 0.25);
}

h2, h3 {
  color: pink;
  text-shadow: 1.5em 1.5em 1.5em rgba(0, 0, 0, 0.25);
}

h1:hover, p:hover, ul:hover, li:hover, strong:hover {
  color: darkblue;
}


h2:hover, h3:hover {
  color: fuchsia;
}

div {
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0));
}

section {
  opacity: 1;
  border: 5px solid purple;
  border-style: inset;
  padding-left: 5%
}

img, video {
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

/*
main page css
*/

#words section{
  background-color: rgba(255, 127, 127, 0.5);
}

#thumbsup-pic {
  border: 20px;
  border-style: outset;
}

#main-content {
  background-image: url("images/ocean.png");
  background-size: contain;
}

/*
resume page css
*/

#resume-nav {
  background-color: rgba(255, 255, 0, 0.5);
}

#resume-nav ul {
text-align: center;
  list-style-type: none;
}

#resume-nav ul li a{
  font-size: 2em;
  color: green;
}

#resume-nav ul li a:hover {
  font-size: 2em;
  color: lime;
  text-shadow: 1.5em 1.5em 1.5em rgba(127, 190, 127, 0.25);
}

#skills, #leadership {
  background-color: rgba(127, 0, 0, 0.5);
}

/*
stuff page css
*/

#apple-pic img, #hand-pic img {
  border: 20px;
  border-color: gray;
  border-style: outset;
}

#the-video p {
  font-family: "Audiowide", cursive, sans-serif;
}

#the-video:hover {
  background-color: rgba(1,1,1,0);
}
