body {
  background-color: red;

}

h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
}


ul {
  list-style-type: none;
}


#header ul li a {
  font-size: 20px;
  color: orange;
}

#header ul li a:hover{
  font-size: 20px;
  color: yellow;
}

#resume ul li a{
  font-size: 16px;
  color: green;
}

#resume ul li a:hover {
  font-size: 16px;
  color: lime;
}

p {
  color: blue
}

section {
  border: 2px solid Violet;
}
