body {
  background-color: maroon;

}

h1 {
  font: "Comic Sans"; 
}

ul li a {
  font-size: 20px;
  color: orange;
}

div id="resume" {
  font-size: 16px;
  color: green;
}

section {
  border: 2px solid Violet;
}
