body {
  background-color: red;

}

h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

ul li a {
  font-size: 20px;
  color: orange;
}

ul li a hover{
  font-size: 20px;
  color: yellow;
}

section {
  border: 2px solid Violet;
}
