body {
  background-image: url("images/ocean.png");
  margin-left: 10%;
  border: 3% solid pink;
  border-style: inset;
}

h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#header {
  border-style: outset;
  background-attachment: fixed;
  background-size: contain;
}

#header ul {
  list-style-type: none;
}

#resume-nav {
  background-color: background-color: rgba(255, 255, 0, 0.5);
}

#resume-nav ul {
  list-style-type: none;
}

#resume-nav ul li a{
  font-size: 16px;
  color: green;
}

#resume-nav ul li a:hover {
  font-size: 16px;
  color: lime;
}

#header ul li a {
  font-size: 20px;
  color: orange;
}

#header ul li a:hover{
  font-size: 20px;
  color: yellow;
}

p, ul, li{
  padding-left: 10%;
  color: blue;
}

h1, h2, h3, strong {
  padding-left: 5%;
  color: blue;
}

h2, h3 {
 color: pink;
}

h1:hover, p:hover, ul:hover, li:hover {
  color: lightblue;
}

h2:hover, h3:hover {
  color: lightpink;
}

strong:hover {
  color: darkblue;
}

div {
  background-color: rgba(255, 0, 0, 0.5);
}

section {
  opacity: 1;
  border: 3% solid purple;
  border-style: inset;
}

img, video {
 margin-left: 5%;
 margin-top: 5%
}
